<form #formularioEditar="ngForm">
  <div>
    <label for="correoId">
      Correo
    </label>
    <input id="correoId"
           type="text"
           name="correo"
           [(ngModel)]="correo"
    >
  </div>

  <div>
    <label for="passwordId">
      Password
    </label>
    <input id="passwordId"
           type="password"
           name="password"
           [(ngModel)]="password"
    >
  </div>
</form>
<p-button label="Login" styleClass="ui-button-sucess"
          (onClick)="login()"></p-button>


