<div *ngIf="_authService.estaLogeado">
  <p>{{_authService.sesion.nombre}} {{_authService.sesion.apellido}}</p>
  <p>{{_authService.sesion.correo}}</p>
</div>
<ul> <!--unordered list -->
  <li>
    <a [routerLink]="['/inicio']">
      Inicio
    </a>
  </li>
  <li>
    <a [routerLink]="['/login']">
      Login
    </a>
  </li>
  <li>
    <a [routerLink]="['/inicio','gestion-usuarios']">
      Gestion de Usuarios
    </a>
  </li>
  <li>
    <a [routerLink]="['/inicio','gestion-usuarios','2','gestion-libros']">
      Gestion de Libros
    </a>

  </li>
</ul>

<router-outlet></router-outlet>

<p>Pie de pagina</p>


